## Everytime you add something here also add it to the switch statement
## in `restore` script!
.Trash-1000/
## find out where in the githistory those videos are and delete them!
udacity/intro-programming/adventure-game/instructions
udacity/intro-programming/animal-card/instructions
udacity/intro-programming/pixel-art-maker/instructions
udacity/sql/udiddit/instructions
udacity/sql/deforestation/instructions

