/* to make it work the reset.css or normalize.css might be needed */
/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/* 1rem = 10px */
html{
  font-size: 62.5%;
}

/******************************************
/* Mobile
/*******************************************/

@media screen and (max-width: 500px) {

  .left {
    width: 100%;
    float: none;
  }

  .right {
    width: 100%;
    float: none;
  }

  .middle, footer {
    display: none;
  }

  header .btn{
    display: none;
  }
  .main-link {
    width: 85%;
    float: left;
    transform: scaleX(-1);
    font-weight: bold;
    font-size: 3rem;
    padding: 0 0 0 20%;
  }

  header {
    border-bottom: 1px solid lightgray;
    transform: scaleX(-1);
  }

  /* hamburger button copy pasta with small changes regarding
   * float/flexbox */
  .navbar {
    width: 10%;
    float: left;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
  }
  .nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #222222;
    padding: 4.4rem;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .nav-link:hover {
    border-bottom: 3px solid #ffffff;
  }
  .active {
    font-weight: 700;
    border-bottom: 3px solid #ffffff;
  }
  .open .nav-list {
    transform: translateX(0);
    transform: scaleX(-1);
  }
  .menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .hamburger {
    width: 2.4rem;
    height: 3px;
    background-color: #2D4658;
    border-radius: 2px;
    border: none;
    transition: all 0.7s ease-out;
  }
  .hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 3px;
    background-color: #2D4658;
    border-radius: 2px;
    border: none;
  }
  .hamburger::before {
    transform: translateY(-8px);
  }
  .hamburger::after {
    transform: translateY(8px);
  }

  .open .hamburger {
    background: transparent;
  }
  .open .hamburger::before {
    transform-origin: (0, 0);
    transform: rotate(45deg);
  }
  .open .hamburger::after {
    transform-origin: (0, 0);
    transform: rotate(-45deg);
  }

  /* end of hamburger */
  main .left  {
    padding: 0 2%;
  }
  main .left input {
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.5rem;
  }

  main .left .btn {
    width: 100%;
    margin-top: 2%;
    padding: 1rem 0;
    font-size: 1.8rem;
  }

  main .left form {
    padding-top: 0;
  }

  main .left p {
    width: 100%;
    padding: 0.2rem;
    font-size: 1.8rem;
    text-align: justify;
  }

  main .right img {
    height: 25rem;
    width: auto;
    padding: 0;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #F5F9FC;
}

a {
  text-decoration: none;
  font-size: 1.5rem;

}
li {
  list-style-type: none;
}

h1 {
  font-size: 3.5rem;
  white-space: pre-line;
}

p {
  font-size: 1.5rem;
  color: #435C6E;
}

/******************************************
/* HEADER
/*******************************************/
header {
  height: 5rem;
  padding-top: 1rem;
}
header span, .btn-wrapper, header ul{
  width: 33.33%;
  float: left;
  margin: 0;
}

header ul {
  padding: 0;
}

header span {
  padding-left: 3%;
  font-size: 2rem;
  color: #2E4759;
}

.btn {
  padding: 1rem 2rem;
  color: white;
  background: #2D4658;
  font-weight: bold;
}

.btn-wrapper {
  padding-left: 26%;
  padding-top: 0.4%;
}

header nav img {
  display: none;
}

/*.nav-link {
  padding: 0;
}*/

header li a {
  width: 25%;
  float: left;
  padding-left: 5%;
  color: #435C6E;
}

/******************************************
/* MAIN
/*******************************************/

main section {
  padding-top: 0.5%;
  width: 50%;
  float: left;
}

.left  {
  padding-left: 10%;
}


.left span {
  color: #435C6E;
  font-size: 1rem;
  width: 100%;
  float: left;
}

.left form {
  width: 100%;
  padding-top: 5%;
  float: left;
}

.left input {
  padding: 0.8rem 0 0.8rem 1rem;
  width: 50%;
  border: none;
  background: #E0E9F0;
  float: left;
  font-size: 2rem;
  p
}

.left .btn {
  padding: 0.8rem 0;
  width: 20%;
  text-align: center;
  float: left;
  font-size: 2rem;

}

.left p {
  width: 80%;
  float: left;
  padding-top: 3%;
}

.right img {
  width: 100%;
  padding-left: 7%;
}



/******************************************
/* Middle Section
/*******************************************/


.middle > section {
  width: 16.25%;
  float: left;
  margin-left: 5%;
}
.middle h3 {
  font-size: 2rem;
  color: #2D4658;
}

.middle .m1 {
  margin-left: 10%;
}

.middle .m4 {
  margin-right: 10%;
}

.middle a {
  color: #2D4658;
}


/******************************************
/* FOOTER
/*******************************************/
footer {
  width: 100%;
  float: left;
}
footer h2 {
  font-size: 4rem;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 0;
  white-space: pre-line;
}

footer p {
  margin-left: 10%;
}

footer div {
  background: #E0E9F0;
  margin: 0 10%;
  width: 80%;
  height: 4rem;



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
