/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/* 1rem = 10px */
html{
  font-size: 62.5%;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: black;
  float: left;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 8rem;
  white-space: pre-line;
  margin: 7rem 0 1.5rem 0;
}

p {
  font-size: 1.7rem;
  text-align: justify;
}

h3 {
  font-size: 3rem;
  color: #FFAA58;
}

h2 {
  font-size: 7.5rem;
}
li {
  list-style-type: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* header
/*******************************************/
header {
  width: 100%;
  background: linear-gradient(90deg, rgba(219,223,226,1) 0%, rgba(218,221,224,1) 21%, rgba(230,234,237,1) 50%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
  padding: 0 5%;
  float: left;
}

header > img:first-child, header img:last-child{
  width:  5%;
  float: left;
  height: 3.5rem;
}

header nav ul {
  margin-left: 43%;
  width: 42%;
  float: left;
  padding: 0;
}

header nav li {
  width: 16.66%;
  float: left;
}

nav a {
  font-size: 1.4rem;
}
header > img:last-child {
  float: right;
}

header form {
  width: 5%;
  float: right;
}
header form input {
  width: 100%;
}


/******************************************
/* main
/*******************************************/

main {
  width: 100%;
  background: linear-gradient(90deg, rgba(219,223,226,1) 0%, rgba(218,221,224,1) 21%, rgba(230,234,237,1) 50%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
  float: left;
}

.main-text {
  padding-left: 5%;
  width: 60%;
  float: left;
}

.main-img {
  width: 40%;
  float: left;
}

.main-text input {
  width: 60%;
  float: left;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid lightgrey;
  border-right: none;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.main-text a {
  width: 12rem;
  float: left;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 2rem;
  background: #FF8828;
  color: white;
  text-align: center;
}

.main-text section {
  width: 100%;
  float: left;
}

.main-text span {
  width: 8%;
  float: left;
  font-size: 1.5rem;
  padding-top: 3rem;
}
.main-img img {
  width: 100%;
}

/******************************************
/* about
/*******************************************/
.about {
  width: 100%;
  float: left;
  padding-top: 5%;
  background-color: white;
  background-image: url(../oats.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.about-img img {
  width: 35%;
  float: left;
}

.about-text {
  width: 45%;
  float: left;
  padding-left: 2%;
}

.about-text a {
  width: 15rem;
  float: left;
  margin: 2rem 0 10rem 0;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  font-size: 2rem;
  background: #FF8828;
  color: white;
  text-align: center;
}

.about-text h2 {
  white-space: pre-line;
}

/******************************************
/* recipes
/*******************************************/

.recipes {
  background: rgba(219,223,226,1);
  width: 100%;
  float: left;
  padding-top: 2%;
}

.recipes h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.recipes h2 {
  margin: 0;
  width: 100%;
  text-align: center;
}

.recipes ul {
  padding: 0 31%;
  width: 100%;
  float: left;
}
.recipes a {
  width: 20%;
  font-size: 1.5rem;
  float: left;
  border-bottom: 0.3rem solid #FFAA58;
  margin: 5rem 0;
  text-align: center;
}
.recipes-img {
  padding: 0 20%;
  float: left;
  width: 100%;
}

.recipes > img:nth-child(odd) {
  width: 100%;
}
.recipes-img > img:nth-child(even) {
  width: 92.5rem;
  margin-bottom: 10rem;
}
/******************************************
/* booking
/*******************************************/

.book {
  width: 100%;
  float: left;
  background: linear-gradient(90deg, rgba(221,227,233,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
}

.book-text h3 {
  text-align: center;
  padding: 0;
  width: 100%;
  float: left;
}
.book-text h2 {
  text-align: center;
  margin: 0;
}

.book-call {
  margin: 0 auto;
  width: 8%;
}

.book-call img {
  width: 80%;
  float: left;
  margin-left: 11%;
}

.book-call span {
  text-align: center;
  font-size: 2rem;
  float: left;
  width: 100%;
}

.book-text > span {
  width: 50%;
  float: left;
  font-size: 2rem;
}
.book-text > span:nth-child(odd) {
  padding-left: 33%;
}

.book-text > span:nth-child(even) {
  padding-left: 8%;
}
.book-img {
  width: 100%;
  float: left;
  padding: 0 25%;
}

/******************************************
/* review
/*******************************************/
.review {
  width: 100%;
  float: left;
  background: linear-gradient(90deg, rgba(221,227,233,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 100%);
}

.review h3 {
  margin-top: 5rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
}
.review h2 {
  text-align: center;
  margin: 0;
}

.review h4 {
  text-align: center;
  margin: 0;
}

.review h4:nth-child(even) {
  font-size: 3rem;
}

.review h4:nth-child(odd) {
  font-weight: none;
  color: gray;
}

.review img {
  padding-left: 46%;
}

.review p {
  padding: 0 12%;
  text-align: center;
}

/******************************************
/* media queries
/*******************************************/


@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .hamburger {
    width: 3rem;
    float: left;
    margin-top: 1rem;
  }
  .hamburger div {
    width: 100%;
    float: left;
    border-bottom: 0.1rem solid black;
    margin: 0.4rem 0;
  }

  header form  {
    width: 25%;
    margin-top: 1rem;
  }

  header form input {
    width: 100%;
  }
  .main-text {
    width: 100%;
    float: left;
    padding: 2%;
  }
  .main-text h1 {
    margin: 2rem 0;
    line-height: 5rem;
    font-size: 5rem;
    padding: 0 3%;
  }
  .main-text form {
    margin-top: 2rem;
    padding: 0 3%;
  }

  .main-text section span {
    width: 20%;
    float: left;
    padding: 7% 3%;
  }


  img {
    display: none !important;
  }
  .about {
    background-image: none;
    padding: 5%;
  }
  .about * {
    width: 100%;
    padding: 0;
  }

  .about h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .about h2 {
    margin: 4rem 0 2rem 0;
    padding: 0 3%;
    font-size: 6rem;
    line-height: 5rem;
  }
  .about a {
    margin: 5% 0;
  }
  .recipes {
    display: none;
  }
  .book {
    padding: 5%;
  }
  .book h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .book h2 {
    float: left;
    margin: 4rem 0 2rem 0;
    padding: 0 3%;
    font-size: 6rem;
    line-height: 6rem;
  }
  .book-call {
    width: 100%;
  }

  .book-call span {
    width: 100%;
    margin-bottom: 2rem;
  }
  .book-text > span:nth-child(odd) {
    margin-top: 2rem;
    margin-left: 10%;
    width: 20%;
    padding: 0;
    text-align: center;
  }

  .book-text > span:nth-child(even) {
    margin-top: 2rem;
    margin-left: 40%;
    padding: 0;
    width: 20%;
    text-align: center;
  }

}

