/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/* 1rem = 10px */
html{
  font-size: 62.5%;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
* {
  box-sizing: border-box;
}

header, footer {
  height: 200px;
  border: 1px solid black;
}

section {
  height: 300px;
  width: 33.33%;
  float: left;
  border: 1px solid black;
}
footer {
  clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
