/* to make it work the reset.css or normalize.css might be needed */
/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/* 1rem = 10px */
html{
  font-size: 62.5%;
}


/******************************************
/* BASE STYLES
/*******************************************/

header > *, ul > li{
  width: 30%;
  float: left;
  margin: 0;
  height: 30px;
}

header > img {
  width: 5%;
  height: 5%;
}

nav li {
  width: 8%;
  list-style: none;
}

header > nav {
  width: 70%;
}


header > a {
  width: 8%;
  padding-left: 0.5%;
}

nav input {
  width: 26%;
}

main {
  padding-top: 10%;
}

main > * {
  width: 50%;
  float: left;
}

main > section + section section {
  width: 50%;
  border: 1px solid black;
  float: left;
}

main + section > section {
  width: 33.33%;
  float: left;
}

main + section {
  padding-top: 15%;
}

/*main section + section > section {
  width: 50%;
  float:left;
  border: 1px solid black;
}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
